.formControl.error input, .formControl.error textarea {
    border: solid red 1px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    color: red;
}

.login {
    margin-left: 40%;
}

.loginForm input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #bdbdbd;
    border-radius: 5%;
}

.loginForm input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.login button {
    width: 100px;
    height: 30px;
    background-color: #925c40;
    font-size: 15px;
    border: 1px solid gray;
}

.login button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}